<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Sprint_01.S6_052_CreateOpportunity"/>
      <class name="Sprint_01.S6_012_DeleteCase"/>
      <class name="Sprint_01.S6_051_DeleteContactAssociatedToCampaign"/>
      <class name="Sprint_01.S6_030_DeleteDashboard"/>
      <class name="Sprint_01.S6_050_CreateContactForCampaign"/>
      <class name="Sprint_01.S6_068_CreateNewLeads"/>
      <class name="Sprint_01.S6_024_EditLegalEntity"/>
      <class name="Sprint_01.S6_069_EditLeads"/>
      <class name="Sprint_01.S6_006_EditWorkTypeGroup"/>
      <class name="Sprint_01.S6_019_CreateContact"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
